@import '~bootstrap/scss/bootstrap';

// RESET
body {
    background-color: rgba(0, 0, 0, 0.692);
}

img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

.card:hover{
    scale: 1.1;
    transition: all .2s ease-in-out;
}